.Homechannel-top-left {
    border:  1px solid rgb(245, 83, 132);
    padding: 0 10px;
    i {
        margin-right: 10px;
        font-size: 7px;
        border-radius: 50%;
        border: 1px solid rgb(245, 83, 132);
        padding: 1px 1.5px;
    }
    height: 25px;
    border-radius: 15px;
    color: rgb(245, 83, 132);
    font-weight: 600;
    cursor: pointer;
}