.ant-checkbox-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    .ant-list-item-meta {
      width: 300px;
      display: flex;
      align-items: center;
      .ant-list-item-meta-avatar {
        margin-right: 10px;
      }

      .ant-list-item-meta-title {
        font-size: 16px;
        font-weight: 500;
      }

      .ant-list-item-meta-description {
        color: #888;
      }
    }
  }